@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Raleway:ital,wght@1,800&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --primary-color: #0f479c;
    --secondary-color: #FFF;
    --link-hover-color: #0f479c;
    --border-color: #ccc;
    --shadow-color: #00000013;
    --success-color: #4CAF50;
    --error-color: #ef233c;
    --button-hover-color: #70af72;
    --dark-text-color: #000;
    --grey-text-color: #878787;
    --light-text-color: #fff;
    --footer-color: #1d1c1c;
}

/** ########## GERAL ########## */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

/* CONTAINER */
.container{
    width: 100%;
}

/* WRAPPER */
.wrapper{
    width: 1400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


/** ########## HEADER - NAV ########## */
/* HEADER */
header{
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .7px solid var(--border-color);
}
.header-container{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CONTENT-LEFT */
.content-left{
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-left .logo{
    padding-right: 20px;
}
.content-left h1{
    color: var(--light-text-color);
    font-size: 45px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

/* BARRA DE PESQUISA */
.search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
    border-radius: 8px;
}
.search__input {
    font-size: inherit;
    background-color: var(--secondary-color);
    border: none;
    color: #646464;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin-right: -2rem;
}
.search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
}
.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}
.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}
.search__input:focus + .search__button {
    background-color: #f0eeee;
}
.search__button {
    border: none;
    background-color: #FFF;
}
.search__button:hover {
    cursor: pointer;
}
.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
    margin-right: 10px;
}
.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
    margin-right: 10px;
}

/* CONTENT-RIGHT */
.content-right{
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.content-right i{
    font-size: 35px;
    color: var(--light-text-color);
    padding: 5px;
}
.content-right a{
    font-size: 13px;
    font-weight: 600;
    color: var(--light-text-color);
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 15px;
}
.content-right .user-actions{
    width: 100%;
}
.content-right .icon-actions{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*DROPDOWN MENU*/
.dropdown{
    width: 100%;
}
.dropdown a{
    display: flex;
    padding: 0;
    margin-left: 15px;
}
.dropdown .content a{
    color: var(--dark-text-color);
    padding: 5px 15px;
}
.dropdown .content a:hover{
    color: #CCC;
}
.dropdown .content a:hover i{
    color: #CCC;
}
.dropdown .content i{
    color: var(--dark-text-color);
    font-size: 15px;
}
.dropdown .content {
    border-radius: 5px;
    position: absolute;
    background-color: var(--secondary-color);
    width: 180px;
    opacity: 0;
    visibility: hidden; /* Oculta o elemento enquanto a opacidade é 0 */ /* Adiciona uma transição para a opacidade e atrasa a visibilidade para que a transição ocorra antes de tornar o elemento invisível novamente */
    box-shadow: .5px .5px 2px 1px hsla(0, 0%, 0%, 0.502);
}
.dropdown:hover .content {
    opacity: 1;
    visibility: visible; /* Torna o elemento visível quando o mouse está sobre o .dropdown */
    transition-delay: 0.3s; /* Remove o atraso na visibilidade durante o hover */
}
.content::before{
    /**criando a ponta da caixa de dialogo*/
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #FFF;
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*NAV*/
nav{
    background-color: var(--secondary-color);
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .7px solid var(--border-color);
}
.nav-container{
    width: 1400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container ul{
    width: 100%;
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-container li{
    height: 100%;
    width: 100%;
}
.nav-container li a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--grey-text-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid transparent;
}
.nav-container li a:hover{
    transition: 0.3s;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

/** ########## FOOTER ########## */

footer {
    background-color: var(--footer-color);
    color: var(--light-text-color);
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 1px solid var(--border-color);
}
footer hr{
    border: 0;
    height: 1px;
    background-color: var(--grey-text-color);
    margin: 20px 0 20px 0;
}
footer h2{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: var(--success-color);
}
footer a{
    font-size: 1.2rem;
    color: var(--light-text-color);
    display: flex;
    align-items: center;
}
footer ul{
    padding: 0;
    display: inline-flex;
    flex-direction: column;
}
footer li{
    list-style: none;
    padding-bottom: 10px;
}
footer i{
    font-size: 1.5rem;
    padding: 5px 5px 5px 0;
}
footer li a:hover{
    transition: .3s;
    color: var(--button-hover-color);
}
.footer-top{
    display: flex;
    justify-content: flex-start;

}
.footer-box{
    width: 31%;
    padding: 1%;
}
.footer-bottom{
    font-size: .7rem;
    color: var(--grey-text-color);
}

/** ########## LOJA  ########## */

.container.loja h1{
    padding: 32px 0 32px;
    color: var(--grey-text-color);
}

/* CARD PRODUTO */
.container.loja .product-card{
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    outline-color: var(--primary-color);
    padding: 16px;
    position: relative;
    color: inherit;
}
.container.loja .product-card:hover{
    transition: .1s;
    border: 1px solid var(--primary-color);
}
.container.loja .product-img{
    height: 164px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container.loja .product-img img{
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100%;
    height: 164px;
}
.container.loja .product-card p{
    overflow: hidden;
    margin-top: 4px;
    font-size: 1rem;
}
.container.loja .price-container{
    margin-top: auto;
}
.container.loja .price-container .product-price{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--dark-text-color);
}
.container.loja .price-container .product-stock{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--error-color);
}
.container.loja .grid-products{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    padding-bottom: 64px;
}

/** ########## VERPRODUTO ########## */

.container.verproduto img{
    width: 100%;
}
.container.verproduto .small-container{
    padding: 32px 0 32px 0;
    display: flex;
}
.container.verproduto .col-2{
    width: 50%;
}
.container.verproduto .product-img{
    /* height: 50%; */
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}
.container.verproduto .product-info{
    padding: 45px 45px;
    display: flex;
    flex-direction: column;
}
.container.verproduto .product-info h1{
    font-weight: 600;
    font-size: 2rem;
}
.container.verproduto .product-info h2{
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 30px;
}
.container.verproduto .product-info h4{
    font-weight: 400;
    color: var(--grey-text-color);
}
.container.verproduto .product-info .esgotado{
    color: var(--error-color);
}
.container.verproduto .pro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    margin-bottom: 25px;
    margin-top: 15px;
}
.container.verproduto .fav-icon{
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.container.verproduto .product-info .btn.carrinho{
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    border: 1px solid var(--success-color);
    border-radius: 45px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--success-color);
    font-weight: 600;
    margin-top: 10px;
}
.container.verproduto .product-info .btn.carrinho:hover{
    transition: .3s;
    background: var(--success-color);
    color: var(--light-text-color);
}
.container.verproduto .product-info .btn.disabled{
    cursor: not-allowed;
    border: 1px solid var(--button-hover-color);
    color: var(--button-hover-color);
}
.container.verproduto .product-info .btn.disabled:hover{
    cursor: not-allowed;
    border: 1px solid var(--button-hover-color);
    color: var(--button-hover-color);
    background: transparent;
}
.container.verproduto .qtd-container{
    display: flex;
    height: 45px;
}
.container.verproduto .qtd-container input[type="number"]{
    -moz-appearance: textfield;
    text-align: center;
    font-size: 1.25rem;
    border: none;
    background-color: var(--secondary-color);
    width: 100%;
    color: var(--grey-text-color);
    border-bottom: 1px solid var(--grey-text-color);
    border-top: 1px solid var(--grey-text-color);
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.container.verproduto .qtd-container button{
    color: var(--grey-text-color);
    background-color: var(--secondary-color);
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}
.container.verproduto #decrement{
    padding: 0px 5px 0px 25px;
    border-radius: 45px 0 0 45px;
    border-left: 1px solid var(--grey-text-color);
    border-bottom: 1px solid var(--grey-text-color);
    border-top: 1px solid var(--grey-text-color);
}
.container.verproduto #increment{
    padding: 0px 25px 0px 5px;
    border-radius: 0 45px 45px 0;
    border-right: 1px solid var(--grey-text-color);
    border-bottom: 1px solid var(--grey-text-color);
    border-top: 1px solid var(--grey-text-color);
}
.container.verproduto #increment:hover{
    transition: .3s;
    color: var(--success-color);
}
.container.verproduto #decrement:hover{
    transition: .3s;
    color: var(--error-color);
}
.container.verproduto .qtd-container.disabled button{
    cursor: not-allowed;
}
.container.verproduto .qtd-container.disabled #increment:hover{
    transition: .3s;
    color: var(--grey-text-color);
}
.container.verproduto .qtd-container.disabled #decrement:hover{
    transition: .3s;
    color: var(--grey-text-color);
}
.container.verproduto hr{
    border: 0;
    height: 1px;
    background-color: var(--border-color);
    margin: 20px 0 20px 0;
}
.container.verproduto .product-info h3{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

