/** GERAL */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/** ######################################## LOGIN ######################################## */
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f479c;
}
.login-container .wrapper{
    width: 420px;
    color: #FFF;
}
.login-container .wrapper h1, p{
    text-align: center;
}
.login-container .wrapper h1{
    font-size: 36px;
    margin-bottom: 3px;
}
.login-container .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.login-container .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #FFF;
    border-radius: 5px;
    font-size: 16px;
    color: #FFF;
    padding: 20px 45px 20px 20px;
}
.login-container .input-box input::placeholder {
    color: #FFF;
}
.login-container .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.login-container #input-box-password i{
    cursor: pointer;
}
.login-container .wrapper .btn{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #4CAF50;
    font-weight: 600;
}
.login-container .wrapper .btn:hover{
    transition: 0.7s;
    background: #4CAF50;
    color: #FFF;
}



/** ######################################## CADASTRACLIENTE ######################################## */
.cadastracliente-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f479c;
}
.cadastracliente-container .wrapper{
    width: 420px;
    color: #FFF;
}
.cadastracliente-container .wrapper h1, p{
    text-align: center;
}
.cadastracliente-container .wrapper h1{
    font-size: 36px;
    margin-bottom: 3px;
}
.cadastracliente-container .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.cadastracliente-container .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #FFF;
    border-radius: 5px;
    font-size: 16px;
    color: #FFF;
    padding: 20px 45px 20px 20px;
}
.cadastracliente-container .input-box input::placeholder {
    color: #FFF;
}
.cadastracliente-container .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.cadastracliente-container #input-box-password i{
    cursor: pointer;
}
.cadastracliente-container .wrapper .btn{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #4CAF50;
    font-weight: 600;
}
.cadastracliente-container .wrapper .btn:hover{
    transition: 0.7s;
    background: #4CAF50;
    color: #FFF;
}
.cadastracliente-container .wrapper .register-link{
    font-size: 14.5;
    text-align: center;
    margin-top: 20px;
}
.cadastracliente-container .register-link p a{
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
}
.cadastracliente-container .register-link p a:hover{
    text-decoration: underline;
}

/** ######################################## CADASTRAUSUARIO ######################################## */
.cadastrausuario-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f479c;
}
.cadastrausuario-container .wrapper{
    width: 420px;
    color: #fff;
}
.cadastrausuario-container .wrapper h1, p{
    text-align: center;
}
.cadastrausuario-container .wrapper h1{
    font-size: 36px;
    margin-bottom: 3px;
}
.cadastrausuario-container .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.cadastrausuario-container .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.cadastrausuario-container .input-box input::placeholder {
    color: #fff;
}
.cadastrausuario-container .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.cadastrausuario-container #input-box-password i{
    cursor: pointer;
}
.cadastrausuario-container .wrapper .btn{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #4CAF50;
    font-weight: 600;
}
.cadastrausuario-container .wrapper .btn:hover{
    transition: 0.7s;
    background: #4CAF50;
    color: #FFF;
}

/** ######################################## CADASTRAPRODUTO ######################################## */
.cadastraproduto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94.8vh;
    background-color: #0f479c;
    margin-top: 50px;
}
.cadastraproduto-container .wrapper{
    margin: 15px 0;
    width: 420px;
    color: #fff;
}
.cadastraproduto-container .wrapper h1, p{
    text-align: center;
}
.cadastraproduto-container .wrapper h1{
    font-size: 36px;
    margin-bottom: 3px;
}
.cadastraproduto-container .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
.cadastraproduto-container .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.cadastraproduto-container .input-box select{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.cadastraproduto-container #input-box-cat {
    height: 60px;
}
.cadastraproduto-container .input-box textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 10px 45px 10px 20px;
    resize: none;
}
.cadastraproduto-container #input-box-desc {
    height: 150px;
}
.cadastraproduto-container .input-box input::placeholder {
    color: #fff;
}
.cadastraproduto-container .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.cadastraproduto-container .wrapper .btn{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #4CAF50;
    font-weight: 600;
}
.cadastraproduto-container .wrapper .btn:hover{
    transition: 0.7s;
    background: #4CAF50;
    color: #FFF;
}
.cadastraproduto-container #input-box-img{
    height: auto;
}

/** -----ADICIONAR IMAGEM INPUT----- */
.cadastraproduto-container .picture-input{
    display: none;
}
.cadastraproduto-container .picture{
    width: 420px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentColor;
    border-radius: 5px;
    cursor: pointer;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
}
.cadastraproduto-container .picture:hover{
    color: #777;
    background: #aaa;
}
.cadastraproduto-container .picture:active{
    color: #999;
    background: #ccc;
}
.cadastraproduto-container .picture:focus{
    color: #777;
    background: #aaa;
    box-shadow: 0 0 10px rgba(0, 0 , 0, .3);
}
.picture-img{
    max-width: 100%;
}


/** ######################################## ALTERAUSUARIO ######################################## */
.alterausuario-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94.8vh;
    background-color: #0f479c;
    margin-top: 50px;
}
.alterausuario-container .wrapper{
    margin: 15px 0;
    width: 420px;
    color: #fff;
}
.alterausuario-container .wrapper h1, p{
    text-align: center;
}
.alterausuario-container .wrapper h1{
    font-size: 36px;
    margin-bottom: 3px;
}
.alterausuario-container .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
.alterausuario-container .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.alterausuario-container .input-box input::placeholder {
    color: #fff;
}
.alterausuario-container .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.alterausuario-container #input-box-password i{
    cursor: pointer;
}

.alterausuario-container .wrapper .btn{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #4CAF50;
    font-weight: 600;
    margin-top: 10px;
}
.alterausuario-container .wrapper .btn:hover{
    transition: 0.7s;
    background: #4CAF50;
    color: #FFF;
}

/** OPÇÕES DE VISUALIZAÇÃO - RADIO BUTTONS */
.alterausuario-container #form-container{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.alterausuario-container .form-container #form-container {
    display: flex;
}
.alterausuario-container .radio{
    display: none;
}
.alterausuario-container .radio-label{
    padding: 8px 14px;
    font-size: 14px;
    color: #FFF;
    background: #4CAF50;
    cursor: pointer;
    transition: background 0.1s;
}
.alterausuario-container .radio-label:not(:last-of-type){
    border-right: 1px solid #34974d;
}
.alterausuario-container .radio:checked + .radio-label{
    background: #34974d
}

/** ######################################## ALTERAPRODUTO ######################################## */
.alteraproduto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94.8vh;
    background-color: #0f479c;
    margin-top: 50px;
}
.alteraproduto-container .wrapper{
    margin: 15px 0;
    width: 420px;
    color: #fff;
}
.alteraproduto-container .wrapper h1, p{
    text-align: center;
}
.alteraproduto-container .wrapper h1{
    font-size: 36px;
    margin-bottom: 3px;
}
.alteraproduto-container .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
.alteraproduto-container .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.alteraproduto-container .input-box textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 10px 45px 10px 20px;
    resize: none;
}
.alteraproduto-container #input-box-desc {
    height: 150px;
}
.alteraproduto-container .input-box select{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.alteraproduto-container #input-box-cat {
    height: 60px;
}
.alteraproduto-container .input-box input::placeholder {
    color: #fff;
}
.alteraproduto-container .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.alteraproduto-container .wrapper .btn{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #4CAF50;
    font-weight: 600;
    margin-top: 10px;
}
.alteraproduto-container .wrapper .btn:hover{
    transition: 0.7s;
    background: #4CAF50;
    color: #FFF;
}
.alteraproduto-container #input-box-img{
    height: auto;
}
.alteraproduto-container img{
    width: 420px;
    height: auto;
    border-radius: 5px;
}

/** -----ADICIONAR IMAGEM INPUT----- */
.alteraproduto-container .picture-input{
    display: none;
}
.alteraproduto-container .picture{
    width: 420px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentColor;
    border-radius: 5px;
    cursor: pointer;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
}
.alteraproduto-container .picture:hover{
    color: #777;
    background: #aaa;
}
.alteraproduto-container .picture:active{
    color: #999;
    background: #ccc;
}
.alteraproduto-container .picture:focus{
    color: #777;
    background: #aaa;
    box-shadow: 0 0 10px rgba(0, 0 , 0, .3);
}
.picture-img{
    max-width: 100%;
}

/** OPÇÕES DE VISUALIZAÇÃO - RADIO BUTTONS */
.alteraproduto-container #form-container{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.alteraproduto-container .form-container #form-container {
    display: flex;
}
.alteraproduto-container .radio{
    display: none;
}
.alteraproduto-container .radio-label{
    padding: 8px 14px;
    font-size: 14px;
    color: #FFF;
    background: #4CAF50;
    cursor: pointer;
    transition: background 0.1s;
}
.alteraproduto-container .radio-label:not(:last-of-type){
    border-right: 1px solid #34974d;
}
.alteraproduto-container .radio:checked + .radio-label{
    background: #34974d
}


/** ######################################## NAVBAR ######################################## */
/** NAV BAR 1 */
nav{
    top: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 1;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.nav-container{
    position: relative;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
.nav-container ul{
    width: 75%;
    display: flex;
    align-items: center;
}
.nav-container .user-info{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}
.nav-container li{
    list-style: none;
    padding: 10px 15px;
}
.nav-container li a{
    text-decoration: none;
    color: #333333;
}
.nav-container li a:hover{
    transition: 0.5s;
    color: #0f479c;
}
.nav-container li p{
    color: #4CAF50;
    cursor: default;
}
.nav-container .user-info li a:hover{
    color: #b30021;
}



/** ######################################## LISTAUSUARIO ######################################## */
.listausuario-container{
    background-color: #0f479c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listausuario-container main.table{
    margin-top: 50px;
    width: 80vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}
.listausuario-container .table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 1rem 1rem;
}
.listausuario-container .table-body{
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #FFFb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
.listausuario-container .table-body tr{
    position: sticky;
}
.listausuario-container .table-body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.listausuario-container .table-body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.listausuario-container .table-body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.listausuario-container table{
    width: 100%;
}
.listausuario-container table, th, td{
    text-align: center;
    border-collapse: collapse;
    padding: 1rem;
}
.listausuario-container thead th{
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}
.listausuario-container tbody tr.even {
    background-color: #0000000b;
}
.listausuario-container tbody tr:hover{
    transition: 0.5s;
    background-color: #fff6;
}
.listausuario-container .status {
    padding: .4rem 0;
    border-radius: 2rem;
}
.listausuario-container .status.ativo{
    background-color: #86e49d;
    color: #006b21;
}
.listausuario-container .status.inativo{
    background-color: #d893a3;
    color: #b30021;
}

/** BOTÃO ALTERAR */
.listausuario-container .btn-alterar {
    width: 6rem;
    padding: 10px 15px;
    background-color: #007ACC;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
.listausuario-container .btn-alterar .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}
.listausuario-container .btn-alterar:hover {
    background-color: transparent;
}
.listausuario-container .btn-alterar:hover .text {
    color: #007ACC;
}

/** OPÇÕES DE VISUALIZAÇÃO - RADIO BUTTONS */
.listausuario-container .form-container{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.listausuario-container .form-container form{
    display: flex;
}
.listausuario-container .radio{
    display: none;
}
.listausuario-container .radio-label{
    padding: 8px 14px;
    font-size: 14px;
    color: #FFF;
    background: #4CAF50;
    cursor: pointer;
    transition: background 0.1s;
}
.listausuario-container .radio-label:not(:last-of-type){
    border-right: 1px solid #34974d;
}
.listausuario-container .radio:checked + .radio-label{
    background: #34974d
}

/** ######################################## LISTAPRODUTO ######################################## */
.listaproduto-container{
    background-color: #0f479c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listaproduto-container main.table{
    margin-top: 50px;
    width: 80vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}
.listaproduto-container .table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 1rem 1rem;
}
.listaproduto-container .table-body{
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #FFFb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
.listaproduto-container .table-body th{
    position: sticky;
}
.listaproduto-container .table-body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.listaproduto-container .table-body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.listaproduto-container .table-body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
#esgotado p{
    color: #ef233c;
    font-weight: 500;
}
.listaproduto-container table{
    width: 100%;
}
.listaproduto-container td img{
    width: 75px;
    height: auto;
    margin-right: .5rem;
    border-radius: 10px;
    vertical-align: middle;
    cursor: pointer;
}
.listaproduto-container td{
    width: 15%;
    height: 125px;
}
.listaproduto-container #desc{
    width: 20%;
}
.listaproduto-container #desc a{
    color: #007ACC;
    text-decoration: none;
    font-weight: 600;
}
.listaproduto-container #status{
    width: 15%;
}
.listaproduto-container #img{
    width: 10%;
}


/** IMAGEM COM ZOOM */
.listaproduto-container td img.zoom {
    z-index: 999;
    cursor: zoom-out;
    display: block;
    width: 500px;
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/** ##################################### */
.listaproduto-container table, th, td{
    text-align: center;
    border-collapse: collapse;
    padding: 1rem;
}
.listaproduto-container thead th{
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}
.listaproduto-container tbody tr.even {
    background-color: #0000000b;
}
.listaproduto-container tbody tr:hover{
    transition: 0.5s;
    background-color: #fff6;
}
.listaproduto-container .status {
    padding: .4rem 0;
    border-radius: 2rem;
}
.listaproduto-container .status.ativo{
    background-color: #86e49d;
    color: #006b21;
}
.listaproduto-container .status.inativo{
    background-color: #d893a3;
    color: #b30021;
}

/** BOTÃO ALTERAR */
.listaproduto-container .btn-alterar {
    width: 6rem;
    padding: 10px 15px;
    background-color: #007ACC;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
.listaproduto-container .btn-alterar .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}
.listaproduto-container .btn-alterar:hover {
    background-color: transparent;
}
.listaproduto-container .btn-alterar:hover .text {
    color: #007ACC;
}

/** OPÇÕES DE VISUALIZAÇÃO - RADIO BUTTONS */
.listaproduto-container .form-container{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.listaproduto-container .form-container form{
    display: flex;
}
.listaproduto-container .radio{
    display: none;
}
.listaproduto-container .radio-label{
    padding: 8px 14px;
    font-size: 14px;
    color: #FFF;
    background: #4CAF50;
    cursor: pointer;
    transition: background 0.1s;
}
.listaproduto-container .radio-label:not(:last-of-type){
    border-right: 1px solid #34974d;
}
.listaproduto-container .radio:checked + .radio-label{
    background: #34974d
}
