/** GERAL */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/** LOGIN - LOGINCLIENTE - CADASTRACLIENTE*/
.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f479c;
}
.wrapper{
    width: 420px;
    color: #FFF;
}
.wrapper h1, p{
    text-align: center;
}
.wrapper h1{
    font-size: 36px;
    margin-bottom: 3px;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #FFF;
    border-radius: 5px;
    font-size: 16px;
    color: #FFF;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #FFF;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
#input-box-password i{
    cursor: pointer;
}
.wrapper .forgot{
    display: flex;
    justify-content: flex-end;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.forgot a{
    color: #FFF;
    text-decoration: none;
}
.forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #4CAF50;
    font-weight: 600;
}
.wrapper .btn:hover{
    transition: 0.7s;
    background: #4CAF50;
    color: #FFF;
}
.wrapper .register-link{
    font-size: 14.5;
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}

/** ######################################## NAVBAR ######################################## */
/** NAV BAR 1 */
nav{
    top: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 1;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.nav-container{
    position: relative;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
.nav-container ul{
    width: 75%;
    display: flex;
    align-items: center;
}
.nav-container .user-info{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}
.nav-container li{
    list-style: none;
    padding: 10px 15px;
}
.nav-container li a{
    text-decoration: none;
    color: #333333;
}
.nav-container li a:hover{
    transition: 0.5s;
    color: #0f479c;
}
.nav-container li p{
    color: #4CAF50;
    cursor: default;
}


/** NAV BAR 2 */
.nav-container .user-info .cabecalho2 {
    width: 40%;
}
.user-info i{
    font-size: 30px;
}


/** ######################################## LISTAUSUARIO ######################################## */
.listausuario-container{
    background-color: #0f479c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listausuario-container main.table{
    margin-top: 50px;
    width: 80vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}
.listausuario-container .table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 1rem 1rem;
}
.listausuario-container .table-body{
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #FFFb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
.listausuario-container .table-body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.listausuario-container .table-body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.listausuario-container .table-body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.listausuario-container table{
    width: 100%;
}
.listausuario-container table, th, td{
    text-align: center;
    border-collapse: collapse;
    padding: 1rem;
}
.listausuario-container thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}
.listausuario-container tbody tr.even {
    background-color: #0000000b;
}
.listausuario-container tbody tr:hover{
    transition: 0.5s;
    background-color: #fff6;
}
.listausuario-container .status {
    padding: .4rem 0;
    border-radius: 2rem;
}
.listausuario-container .status.ativo{
    background-color: #86e49d;
    color: #006b21;
}
.listausuario-container .status.inativo{
    background-color: #d893a3;
    color: #b30021;
}

/** BOTÃO ALTERAR */
.btn-alterar {
    width: 6rem;
    padding: 10px 15px;
    background-color: #007ACC;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
.btn-alterar .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}
.btn-alterar:hover {
    background-color: transparent;
}
.btn-alterar:hover .text {
    color: #007ACC;
}

/** OPÇÕES DE VISUALIZAÇÃO - RADIO BUTTONS */
.form-container{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.form-container form{
    display: flex;
}
.radio{
    display: none;
}
.radio-label{
    padding: 8px 14px;
    font-size: 14px;
    color: #FFF;
    background: #4CAF50;
    cursor: pointer;
    transition: background 0.1s;
}
.radio-label:not(:last-of-type){
    border-right: 1px solid #34974d;
}
.radio:checked + .radio-label{
    background: #34974d
}

/** ######################################## LISTAPRODUTO ######################################## */
#background {
    background-color: #0f479c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 50px;
    width: 80vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.radio {
    display: none;
}

.container input[type="radio"] {
    margin-bottom: 10px;
}

.container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.container th, .container td {
    text-align: center;
    padding: 10px;
}

.container th {
    background-color: #d5d1defe;
    position: sticky;
    top: 0;
}

.container tr:nth-child(even) {
    background-color: #0000000b;
}

.container tr:hover {
    transition: 0.5s;
    background-color: #fff6;
}

.container img {
    width: 90px;
    height: 90px;
}

.container input[type="button"] {
    background-color: #007ACC;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: 400ms;
}

.container input[type="button"]:hover {
    background-color: transparent;
    color: #007ACC;
}



/** ######################################## LOJA ######################################## */
#creditos-container{
    margin: 50px;
    margin-top: 50px;
    max-width: 100%;
    margin-bottom: 150px; 
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.product{
    height: 500px;
    width: 300px;
    background: #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 15px;
}
img{
    width: 220px;
    height: 220px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product hr{
    margin: 0;
    width: 300px;
    border-color: #34974d;
}
.product h3{
    margin: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.product-stock{
    width: 150px;    
    height: 40px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #973434;
    background-color: #a83a3a;
    color: #fff;
}
.product-btn-alterar {
    align-items: center;
    background-color: transparent;
    color: #34974d;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
}

.product-btn-alterar:before {
    background-color: #34974d;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
}

.product-btn-alterar:hover:before {
    background-color: #34974d;
    width: 3rem;
}

